<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.recommend.mapper.ArticleLikeMapper">

    <select id="checkLike" resultType="int">
        SELECT COUNT(1) FROM article_like
        WHERE article_id = #{articleId} AND user_id = #{userId}
    </select>

    <insert id="insertLike" parameterType="com.mc.recommend.domain.ArticleLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article_like (article_id, user_id, create_time)
        VALUES (#{articleId}, #{userId}, #{createTime})
    </insert>

    <delete id="deleteLike">
        DELETE FROM article_like
        WHERE article_id = #{articleId} AND user_id = #{userId}
    </delete>

    <select id="selectLikeCount" resultType="int">
        SELECT COUNT(1) FROM article_like
        WHERE article_id = #{articleId}
    </select>

</mapper>
